<!DOCTYPE html>
<html>
<head>
  <title>Dummy Multiple</title>
  <% if WebpackerHelpers.available? %>
    <%= javascript_include_tag "turbolinks_only", "data-turbolinks-track" => true %>
    <%= javascript_pack_tag "multiple" %>
  <% elsif SprocketsHelpers.available? %>
    <%= javascript_include_tag "multiple", "data-turbolinks-track" => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
